<h1>Play</h1>

<h2>Select your weapon</h2>

<p>You have decided to play <%= @rounds %> rounds.</p>
<p>Rounds remaining: <%= %></p>

<p>Computer choice: <%= @machine_answer %></p>
<p><%= @result %></p>


<%# <% if @count == 0 %> %>
<!-- <p>Your chances is over</p> -->

<%# <% else %> %>

<a href="/play/throw/rock">
<button type="button" name="button">ROCK</button>
</a>

<a href="/play/throw/paper">
<button type="button" name="button">PAPER</button>
</a>

<a href="/play/throw/scissor">
<button type="button" name="button">SCISSOR</button>
</a>

<%# <% end %> %>
